.dasboardprin {
    position: relative;
    top: calc(var(--spacing) * 30);
    margin-inline: auto;
    width: 100vw;
    height: 100vh;
    display: flex; /* Asegura que se use flexbox */
    align-items: center; /* Centro vertical */
    justify-content: center; /* Centro horizontal */
}
.dasboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que los gráficos se ajusten en línea y se envuelvan */
    align-items: center; /* Centro vertical de los items */
    justify-content: center; /* Centro horizontal de los items */
    margin-inline: auto;
    gap: 20px; /* Espacio entre los gráficos */
    padding: 20px; /* Añadir un padding para mayor espacio */
}


